
<html>
        <head>
          <title>Flex Grow</title>
        </head>
        <body>
          <div class="flex-box" id="box1">
            <div></div>
          </div>
          <div class="flex-box" id="box1">
            <div></div>
            <div></div>
          </div>
          <div class="flex-box" id="box1">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="flex-box" id="box1">
            <div></div>
            <div></div>
            <div></div>
             <div></div>
          </div>
        </body>
      </html>
      <head>
          <style typle="text/css">
          .flex-box {
  display: flex;
  margin: 10px;
}

.flex-box div {
  margin: 10px;
  padding: 60px;
  border: 1px rgb(26, 142, 146);
  background:rgb(26, 142, 146);
  
}
          </style>
      </head>