<html>
  <head>
    <title>Flex Grow</title>
  </head>
  <body>
    <div class="flex-box" id="box1">
      <div></div>
      <div></div>
      <div></div>
     
    </div>
    <div class="flex-box" id="box2">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="flex-box" id="box3">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </body>
</html>
<head>
    <style type ="text/css">
.flex-box {
    display: flex;
    margin: 10px;
    
  }
  
  .flex-box div {
    margin: 10px;
    padding: 50px;
    border: 1px rgb(12, 168, 135);
    background:rgb(12, 168, 135);
    
  }
  
  #box2 div{
    flex-grow:0;
  }
  
  #box1 div:nth-of-type(2) {
    flex-grow:0.5;
    
  }
  
  #box2 div:nth-of-type(1) {
    flex-grow:0.5;
  }
  
  
  #box3 div {
    flex-grow:0;
  }
  
  #box3 div:nth-of-type(3) {
    flex-grow:0.5;
    
  }
</style>
</head>