<html>
  <head>
    <title>flex direction</title>
  </head>
  <body>
    <div class="flex-box" id="box1">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      
    </div>
            
  </body>
</html>
<head>
 <style type ="text/css">
.flex-box{
    display:flex;
    margin-left:350px;
    margin-top:100px;
    
  }
  #box1{
    flex-direction:row;
    
  }
  .flex-box div {
    margin: 10px;
    padding: 50px;
    border: 1px solid rgb(28, 172, 177);
    height:350px;
    background:rgb(28, 172, 177); 
  }
  </style>
</head>